/*----CSS Reset---*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*---Google Font---*/
body {
	font-family: "Open Sans",sans-serif;
}

nav {
	padding: 0.8rem;
	/*
	padding-top: 0.8rem
	padding-right: 0.8rem
	padding-bottom: 0.8rem
	padding-left: 0.8rem*/
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}

nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline;
}

/*---intro section---*/

#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 2rem;
	text-align: center;
}

.header {
	text-align: center;

}

#intro h2, #intro p {
	margin-bottom: 1rem;
}

#intro button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}

#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#succeed-info h2 {
	margin-bottom: 1rem;
}

#succeed-info h3 {
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info h3 {
	text-align: center;
	margin-bottom: 1rem;
	margin-top: 1rem;
}
#succeed-info .card {
	display: inline-block;
	vertical-align: top;
	height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

footer {
	padding: 0.7rem;
	text-align: center;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#pre-footer {
	padding-left: 10%;
	padding-right: 5%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	background-color: #002540;
	color: white;
	text-align: left;
}

#pre-footer .foot-card {
	display: inline-block;
	vertical-align: top;
	height: 100px;
	width: 290px;
	margin-left: 0.5rem;
	margin-right: 0.5rem;

}